<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Con el siguiente bean, se cargan las annotations de Java para reconocer las anotaciones PostConstruct y PreDestroy. -->
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"></bean>
	
	<bean id="persona" class="com.greppiluciano.beans.Persona" autowire="byName">
		<property name="apodo" value="Lucho"></property>
	</bean>
	
	<bean id="pais" class="com.greppiluciano.beans.Pais">
		<property name="nombre" value="Argentina"></property>
		
	</bean>

	<bean id="ciudad" class="com.greppiluciano.beans.Ciudad">
		<property name="nombre" value="Buenos Aires"></property>
	</bean>	
	
	<alias name="persona" alias="personaBean"/>
	
</beans>
