<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<bean id="jugador1" class="com.greppiluciano.beans.Jugador">
		<property name="id" value="1"></property>
		<property name="nombre" value="Luciano"></property>
		<property name="equipo" ref="barcelona"></property>
		<property name="camiseta" ref="camiseta1"></property>
	</bean>		
			
	<bean id="barcelona" class="com.greppiluciano.beans.Barcelona"></bean>
	<bean id="juventus" class="com.greppiluciano.beans.Juventus"></bean>
			
	<bean id="camiseta1" class="com.greppiluciano.beans.Camiseta">
		<property name="id" value="1"></property>
		<property name="numero" value="10"></property>
		<property name="marca" ref="marca1"></property>	
	</bean>
	
	<bean id="marca1" class="com.greppiluciano.beans.Marca">
		<property name="id" value="1"></property>
		<property name="nombre" value="Adidas"></property>	
	</bean>
	
</beans>
